.header-bg {
  background-color: #7EF9FF;
  width: 100%;
  height: 40px;
  box-shadow: 0px 0px 5px black;
}

#header {
  display: inline;
  position: fixed;
  margin: auto;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

.header {
  width: 200px;
  height: 35px;
}

.hover {
  float: right;
  margin: 5px;
  padding: 0px;
}

.hover-box {
  position: fixed;
  margin-top: 40px;
  padding: 3px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  float: right;
  background-color: gray;
  text-align: center;
  height: 130px;
  right: 0px;
  display: none;
}

.login {
  text-align: left;
}


#box-animate {
}
